<div id="img-preguntas"></div>
<svg
  class="wave"
  viewBox="0 0 1800 124"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M0 79.114L75 64.152C150 49.19 300 19.266 450 6.79764C600 -5.67069 750 -0.683357 900 19.266C1050 39.2153 1200 74.1267 1350 76.6203C1500 79.114 1650 49.19 1725 34.228L1800 19.266V124H1725C1650 124 1500 124 1350 124C1200 124 1050 124 900 124C750 124 600 124 450 124C300 124 150 124 75 124H0V79.114Z"
    fill="white"
  ></path>
</svg>
<div class="grid text-center justify-content-center">
  <div class="col-12">
    <p class="text-2xl md:text-5xl font-bold color-orange mt-4 mb-2">
      Preguntas
    </p>
  </div>
</div>

<div
  class="card flex justify-content-center p-3 pl-5 pr-5 md:pl-8 md:ml-2 md:mr-2 md:pr-8"
>
  <p-accordion [activeIndex]="0">
    <p-accordionTab
      header="¿Cuál es la diferencia entre un Miembro y un Socio?"
    >
      <p>
        Un Miembro de inCruises es alguien que ha comprado una Membresía del
        Club para crear valor de viaje y ganar Puntos de Recompensa. Quieren ver
        más del mundo. Los Socios de inCruises son parte de nuestro Programa de
        Socios Independientes y pueden referir y Activar a otros en la Membresía
        del Club. Muchos Socios también son "Miembros Socios".
      </p>
    </p-accordionTab>
    <p-accordionTab header="¿Si soy Miembro, tengo que ser Socio?">
      <p>
        No, aunque muchos de nuestros Miembros son también Socios, no es
        obligatorio. Es posible ser Socio, Miembro, o ambos perfiles; lo que
        llamamos un “Socio-Miembro”.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="¿Un Miembro tiene que unirse como Socio para referir y Activar nuevos Miembros y obtener su Membresía gratis?"
    >
      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident,
        similique sunt in culpa qui officia deserunt mollitia animi, id est
        laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="¿Mi Membresía cuenta como 1 de los 5 miembros necesarios para lograr mi Membresía gratuita?"
    >
      <p>No.</p>
    </p-accordionTab>
    <p-accordionTab
      header="¿Cuánto cuesta tener mi negocio independiente inCruises con todas las herramientas necesarias?"
    >
      <p>
        Un pago inicial de Activación de Socio es de $95 USD. Para conservar tu
        estado de Socio activo, debes realizar pagos semestrales de renovación
        de Socio de $95 USD. Se aplican condiciones especiales de renovación a
        los residentes de Italia. Vea el documento de Políticas y Procedimientos
        para más detalles. Los Socios Activos tienen acceso a capacitaciones en
        vivo semanales y grabadas en línea, su correo electrónico corporativo
        (sunombre@incruises.com), Links de Referidos personalizados y páginas
        replicadas, materiales y herramientas de marketing, videos de marketing,
        aplicaciones para Android y iPhone, y tarjetas de presentación
        descargables. Estimamos que el valor de nuestro programa de capacitación
        es de más de $ 50.00 USD por mes.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="¿Puedo recuperar mi pago de Activación dentro de los 30 días posteriores a la actualización a Socio?"
    >
      <p>
        s posible, y muchos Socios han ganado con éxito $95 y mucho más en sus
        primeros 30 días. Muchos Socios nuevos no lo hacen. No hay garantías ya
        que los resultados dependen completamente de tus esfuerzos y habilidades
        para Activar nuevos Miembros.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="¿En caso que cancele o abandone mi cuenta de Socio, puedo obtener un reembolso?"
    >
      <p>
        El pago inicial de Activación de $95 USD es totalmente reembolsable
        durante los primeros 14 días como Socio. Después de eso, no se emitirán
        reembolsos.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="¿De que formas se pueden conseguir ingresos potenciales como Socio de inCruises?"
    >
      <p>
        Hay 5 fuentes de ingresos para Socios (consulta nuestro documento
        Resumen de INgresos e INcentivos para obtener más información): 1. Bonos
        por Activaciones (Diario y Mensual) 2. Bonos Semanales Equivalentes (en
        tus Activaciones Directas de socios) 3. INgresos recurrentes (para pagos
        continuos de Membresía de equipo) 4. Bono de Liderazgo de Equipo (por
        volumen de ventas del equipo) 5. Bono de Builders Base (para la nueva
        producción del equipo)
      </p>
    </p-accordionTab>
    <p-accordionTab header="¿Me pueden pagar por reclutar a otros Socios?">
      <p>
        No. inCruises no paga por el reclutamiento de Socios. La compañía solo
        paga comisiones cuando tu o tu equipo de Socios Activan Miembros del
        Club. O cuando Miembros del Club en tu organización realizan pagos de
        Membresía continuamente. La compañía solo paga comisiones y bonos por
        ventas de Membresías.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="¿Cuánto dinero puedo ganar vendiendo membresías de inCruises?"
    >
      <p>
        Tus ganancias dependerán completamente de tus habilidades y esfuerzos y
        coincidirán con tus resultados y el tamaño de tu equipo y tus
        resultados. Para obtener más detalles sobre las ganancias, consulta el
        documento Resumen de INgresos e INcentivos.
      </p>
    </p-accordionTab>
    <p-accordionTab header="¿Cómo puedo tener éxito?">
      <p>
        Mucho dependerá de tu idea personal de éxito y de tu esfuerzo y
        habilidad. Por ejemplo, para algunas personas, la capacidad de viajar
        mejor por el mundo es su idea de éxito. Y para algunos, la oportunidad
        de obtener ingresos adicionales significará el éxito. inCruises tiene un
        programa probado, justo y efectivo que está siendo utilizado por miles
        de Socios diferentes para lograr diferentes niveles de éxito. Dicho
        esto, inCruises no garantiza ningún nivel de éxito para sus Socios y NO
        es una oportunidad en la que uno debería esperar ganar miles de dólares
        en ingresos de la noche a la mañana. Aquellos que esperan simplemente
        Activarse como Socio y de repente obtener ingresos probablemente se
        sentirán decepcionados con inCruises y no deberían unirse como Socio.
        Nuevamente, la consistencia y el tipo de esfuerzo y la habilidad
        individual determinarán el éxito con inCruises.
      </p>
    </p-accordionTab>
    <p-accordionTab header="¿Puedo tener éxito vendiendo solamente online?">
      <p>
        Alentamos a nuestros Socios a promover la Membresía del Club en una
        variedad de formas y creemos que el contacto personal y la interacción
        siempre deben ser parte de cualquiera de sus esfuerzos. Dicho esto,
        inCruises está totalmente preparado para el marketing digital. Muchos
        Socios complementan eficazmente sus esfuerzos de marketing utilizando
        las redes sociales y las herramientas de marketing digital para
        conectarse con personas en línea. Además, inCruises está listo para
        dispositivos móviles y tiene su propia aplicación para que los Socios
        puedan administrar su negocio desde sus teléfonos.
      </p>
    </p-accordionTab>
    <p-accordionTab header="¿Cómo recibo mi compensación?">
      <p>
        inCruises paga a sus Socios a través Payoneer®. Cada vez que ganes una
        comisión, transferiremos tus ganancias a tu Monedero inCruises y te lo
        notificaremos. Luego puedes transferir el saldo de tu billetera,
        suponiendo que sea superior a $ 50.00, a Payoneer® para recibir tus
        fondos mediante transferencia bancaria a tu banco local o Visa prepaga o
        MasterCard emitida por Payoneer®
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="¿Puedo recibir pagos a través de mi proveedor de pago elegido como empresa usando mi EIN o número de identificación comercial equivalente fuera de los EE. UU.?"
    >
      <p>Si.</p>
    </p-accordionTab>
    <p-accordionTab
      header="¿Los cruceros se pueden considerar como gastos de negocio para los Socios de inCruises?"
    >
      <p>
        Nos gusta lo que estás considerando pero lo ideal es que lo consultes
        con tu contador. Por favor, comprende que inCruises no puede brindarte
        asesoramiento fiscal personal.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="¿Si un Socio de inCruises fallece, su negocio se podría transferir a otra persona?"
    >
      <p>
        Por favor, consulta las Políticas y Procedimientos de inCruises para más
        detalles. Este Afirma: 1. Al fallecer un Socio con rango de Marketing
        Director o superior, su negocio puede ser transferido a sus herederos.
        2. Todos los procesos y pasos que explican este tema los encontrarás en
        nuestro documento de Políticas y Procedimientos que tenemos en la
        sección de Recursos (Documentos) de nuestra web (tu oficina virtual).
      </p>
    </p-accordionTab>
    <p-accordionTab header="¿Quiénes son nuestro mercado objetivo?">
      <p>
        Aquellos que quieren viajar mejor, más lejos y más a menudo. Aquellos
        que quieren obtener ingresos o incluso construir un negocio haciendo
        algo que aman. ¡Solo piensa! Solo el 2% de la población mundial ha
        viajado en crucero alguna vez y solo un 20% de los estadounidenses
        adultos han viajado en crucero. Hay un enorme mercado sin explotar solo
        para aquellos que quieren ir en un crucero. Los pasajeros que viajan por
        primera vez, que son el enfoque de inCruises, son importantes para el
        crecimiento de la industria. En 2019, la industria de cruceros
        transportó 29.000.000 de pasajeros en todo el mundo (11,2 millones más
        que en 2009). Para 2025, se prevé que este número aumente a 38.000.000
        globalmente.
      </p>
    </p-accordionTab>
  </p-accordion>
</div>
