<div class="z-index-0">
  <div data-v-19ea6b67="">
    <video
      class="w-full"
      data-v-19ea6b67=""
      id="bg-video-loop"
      autoplay=""
      preload="auto"
      src="https://raw.githubusercontent.com/Incruises/videos/master/loop-4.mp4?raw=true"
    ></video>
  </div>
</div>

<div
  class="grid text-center text-color-navbar font-bold mt-0 md:mt-8 m-8 mr-video"
>
  <div class="col-12 md:col-7">
    <p class="text-sm md:text-5xl lg:text-7xl">
      HACEMOS TUS <span class="color-orange">SUEÑOS</span> DE VIAJE
    </p>
  </div>
  <div class="col-12 md:col-5 md:pl-8">
    <div class="grid margin-list">
      <div class="col-4 md:col-12">
        <p class="text-xs md:text-2xl bg-orange">ACCESIBLES</p>
      </div>
      <div class="col-4 md:col-12">
        <p class="text-xs md:text-2xl bg-orange">ECONÓMICOS</p>
      </div>
      <div class="col-4 md:col-12">
        <p class="text-xs md:text-2xl bg-orange">RENTABLES</p>
      </div>
    </div>
  </div>
</div>
