<div style="margin-top: 4em"></div>
<svg
  class="wave"
  viewBox="0 0 1800 124"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M0 79.114L75 64.152C150 49.19 300 19.266 450 6.79764C600 -5.67069 750 -0.683357 900 19.266C1050 39.2153 1200 74.1267 1350 76.6203C1500 79.114 1650 49.19 1725 34.228L1800 19.266V124H1725C1650 124 1500 124 1350 124C1200 124 1050 124 900 124C750 124 600 124 450 124C300 124 150 124 75 124H0V79.114Z"
    fill="white"
  ></path>
</svg>

<div class="grid text-center justify-content-center" id="section-experience">
  <div class="col-12">
    <p class="text-2xl md:text-5xl font-bold color-orange mt-4 mb-5">
      Experiencias
    </p>
    <p class="pl-3 pr-3 md:pl-8 md:pr-8 text-white">
      Quería comentarte que te puedes de inscribir como socio/a en un club de
      Viajes en Cruceros 🛳️ me gustaría que recibas toda la información de este
      negocio y puedas recibir los mismos beneficios y privilegios que yo tengo,
      hay muchas oportunidades como hoteles resort y los cruceros donde podrás
      viajar a precios increíbles e incluso Gratis si quisieras, a más de 5.500
      lugares que se tienen disponibles 😉 Sería genial que puedas ver todo
      mediante un zoom, avísame que día y horario te parece más cómodo para
      recibir la información 👍🏼
    </p>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-4 flex align-items-center justify-content-center">
    <video controls class="w-full md:max-w-25rem md:h-27rem">
      <source src="../../assets/video1.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>
  <div class="col-12 md:col-4 flex align-items-center justify-content-center">
    <video controls class="w-full md:max-w-25rem md:h-27rem">
      <source src="../../assets/video2.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>
  <div class="col-12 md:col-4 flex align-items-center justify-content-center">
    <video controls class="w-full md:max-w-25rem md:h-27rem">
      <source src="../../assets/video3.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-6 md:col-4 lg:col-3">
        <div class="card flex justify-content-center imgSemi">
          <p-image
            src="../../assets/elizabeth/foto12.jpg"
            alt="Image"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:col-4 lg:col-3">
        <div class="card flex justify-content-center imgSemi">
          <p-image
            src="../../assets/elizabeth/foto2.jpg"
            alt="Image"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:col-4 lg:col-3">
        <div class="card flex justify-content-center imgSemi">
          <p-image
            src="../../assets/elizabeth/foto3.jpg"
            alt="Image"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:col-4 lg:col-3">
        <div class="card flex justify-content-center imgSemi">
          <p-image
            src="../../assets/elizabeth/foto4.jpg"
            alt="Image"
            [preview]="true"
          ></p-image>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card flex justify-content-center imgComplete">
      <p-image
        src="../../assets/elizabeth/foto5.jpg"
        alt="Image"
        [width]="imageWidthMax"
        [height]="imageHeight"
        [preview]="true"
      ></p-image>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-12">
    <div class="card flex justify-content-center imgComplete">
      <p-image
        src="../../assets/elizabeth/foto6.jpg"
        alt="Image"
        [width]="imageWidthMax"
        [height]="imageHeight"
        [preview]="true"
      ></p-image>
    </div>
  </div>

  <div class="col-6 md:col-4 lg:col-3">
    <div class="card flex justify-content-center imgSemi">
      <p-image
        src="../../assets/elizabeth/foto18.jpg"
        alt="Image"
        [width]="imageWidthMini"
        [preview]="true"
      ></p-image>
    </div>
  </div>
  <div class="col-6 md:col-4 lg:col-3">
    <div class="card flex justify-content-center imgSemi">
      <p-image
        src="../../assets/elizabeth/foto19.jpg"
        alt="Image"
        [width]="imageWidthMini"
        [preview]="true"
      ></p-image>
    </div>
  </div>
  <div class="col-6 md:col-4 lg:col-3">
    <div class="card flex justify-content-center imgSemi">
      <p-image
        src="../../assets/elizabeth/foto60.jpg"
        alt="Image"
        [width]="imageWidthMini"
        [preview]="true"
      ></p-image>
    </div>
  </div>
  <div class="col-6 md:col-4 lg:col-3">
    <div class="card flex justify-content-center imgSemi">
      <p-image
        src="../../assets/elizabeth/foto61.jpg"
        alt="Image"
        [width]="imageWidthMini"
        [preview]="true"
      ></p-image>
    </div>
  </div>
</div>

<div class="card flex justify-content-center mt-6">
  <p-button
    [disabled]="true"
    (click)="irAGaleria()"
    label="Ver más"
    icon="pi pi-image"
    iconPos="right"
  ></p-button>
</div>
