<div style="margin-top: 4em"></div>
<svg
  class="wave"
  viewBox="0 0 1800 124"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M0 79.114L75 64.152C150 49.19 300 19.266 450 6.79764C600 -5.67069 750 -0.683357 900 19.266C1050 39.2153 1200 74.1267 1350 76.6203C1500 79.114 1650 49.19 1725 34.228L1800 19.266V124H1725C1650 124 1500 124 1350 124C1200 124 1050 124 900 124C750 124 600 124 450 124C300 124 150 124 75 124H0V79.114Z"
    fill="white"
  ></path>
</svg>

<div class="grid text-center justify-content-center">
  <div class="col-12">
    <p class="text-2xl md:text-5xl font-bold color-orange mt-4 mb-2">
      Experiencias
    </p>
  </div>
</div>

<div class="grid">
  <div class="md:col-8">
    <div class="grid">
      <div class="col-6 md:4">
        <div class="card flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
            alt="Image"
            [width]="imageWidthMini"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:4">
        <div class="card flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
            alt="Image"
            [width]="imageWidthMini"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:4">
        <div class="card flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
            alt="Image"
            [width]="imageWidthMini"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:4">
        <div class="card flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
            alt="Image"
            [width]="imageWidthMini"
            [preview]="true"
          ></p-image>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <div class="card flex justify-content-center">
      <p-image
        src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
        alt="Image"
        [width]="imageWidthMax"
        [height]="imageHeight"
        [preview]="true"
      ></p-image>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-12 md:col-4">
    <div class="card flex justify-content-center">
      <p-image
        src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
        alt="Image"
        [width]="imageWidthMax"
        [height]="imageHeight"
        [preview]="true"
      ></p-image>
    </div>
  </div>
  <div class="md:col-8">
    <div class="grid">
      <div class="col-6 md:4">
        <div class="card flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
            alt="Image"
            [width]="imageWidthMini"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:4">
        <div class="card flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
            alt="Image"
            [width]="imageWidthMini"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:4">
        <div class="card flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
            alt="Image"
            [width]="imageWidthMini"
            [preview]="true"
          ></p-image>
        </div>
      </div>
      <div class="col-6 md:4">
        <div class="card flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
            alt="Image"
            [width]="imageWidthMini"
            [preview]="true"
          ></p-image>
        </div>
      </div>
    </div>
  </div>
</div>
